<!doctype html>

<head>
  {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="static/index.css">
  {% endblock %}
</head>

<body>

  {% block content %}
    <h2> Eight queens puzzle </h2>
    <hr>
    <h3> Problem </h3>
    <p>
        The eight queens puzzle is the problem of placing eight chess queens on an 8×8 chessboard
        so that no two queens threaten each other; thus, a solution requires that no two queens 
        share the same row, column, or diagonal. Chess composer Max Bezzel published the eight 
        queens puzzle in 1848. Franz Nauck published the first solutions in 1850. Nauck also 
        extended the puzzle to the n queens problem, with n queens on a chessboard of n×n squares.
    </p>
    <p>
        Since then, many mathematicians, including Carl Friedrich Gauss, have worked on both the 
        eight queens puzzle and its generalized n-queens version. In 1874, S. Gunther proposed 
        a method using determinants to find solutions. J.W.L. Glaisher refined Gunther's approach. 
    </p>

    <h3> Algorithm </h3>
    <hr>
    <p>
        Hence chessboard has is constructed from 64 (8 by 8) fields thus using bare brute-force
        algorithm will needs to check 64<sup>8</sup> = 281,474,976,710,656 combintaions in looks 
        for all possible solutions. No need to say that such approach is costy and unifficient
        in terms of computing power.
        Despite the fact, that finding first solution in such way would propably be enough, so
        finding all of them would propably kill the CPU.
    <p>
        This big number of combinations to check can be easily filtered to find only such
        combinations in which by default there is only one queen on each row and one on each
        columns. This can be achieved by generating the permutations of the numbers 1 through 8 
        (of which there are 8! = 40,320). For example, in such logic combination (0, 2, 5, 7, 3, 1,
        6, 4) every number means y-position of the queen and number position in such vector means
        x-position on the chessboard.
        Genereting such permutations is pretty easy in Python, such there is build-in permutations
        function in itertools module. It is worth noticing that such approach dissmiss necessity of
        checking whether queens are in same row or column (only checking at diagonals are needed).
        Such combination number is not too costy, and will found all possible queens positions
        solving this puzzle.
    </p>
    <p>
        Solutions presented on this site is generated used above method. To detect whether two
        queens are on same diagonal line, set of diagonal coordinates are created and compared.
        Cause permutations() method from itertools, sets comparision and coordinates generations are
        written in low-level C language, algorithm is rather quick.
    </p>
    <p>
        There are 96 possible solutions to this problem, thus only 12 base one (other can be
        achieved by symmetry or rotating).
    </p>

    <h3> All solutions </h3>
    <hr>

    {% for images_batch in all_solutions_imgs|batch(6) %}
    <center>
      <div class='img-grid'>
        {% for image in images_batch %}
          <div class='img-wrapper'>
            <img src = {{ image[4:] }}></img>
          </div>
        {% endfor %}
      </div>
    </center>
    {% endfor %}
    <h3> Base solutions </h3>
    <hr>

    {% for images_batch in base_solutions_imgs|batch(6) %}
    <center>
      <div class='img-grid'>
        {% for image in images_batch %}
          <div class='img-wrapper'>
            <img src = {{ image[4:] }}></img>
          </div>
        {% endfor %}
      </div>
    </center>
    {% endfor %}

    <h3> Source </h3>
    <p>
      <a href = "https://en.wikipedia.org/wiki/Eight_queens_puzzle">
        [1] https://en.wikipedia.org/wiki/Eight_queens_puzzle
      </a>
    <p>
  {% endblock %}

</body>
